/*------------------------------------------ General Styling ------------------------------------------*/


html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

ul {
  list-style: none;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .container {
    width: 750px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .container {
    width:
      970px;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .container {
    width: 1170px;
  }
}



/*------------------------------------------ Components Styling ------------------------------------------*/

.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.main-heading h2::before {
  content: '';
  position: absolute;
  width: 150px;
  height: 1px;
  bottom: 0;
  left: 50%;
  background-color: black;
  transform: translate(-50%);
}

.main-heading h2::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  left: 50%;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  transform: translate(-50%, 50%);
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

/*------------------------------------------ Header Styling ------------------------------------------*/


header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2000;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header .container::after {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  height: 1px;
  bottom: 0px;
  z-index: -1;
}

header .container nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

header .container nav ul {
  display: flex;
}

header .container nav ul li {
  width: 100%;
  text-align: center;
}

header .container nav ul a {
  display: block;
  text-decoration: none;
  padding: 40px 10px;
  color: inherit;
  font-size: 14px;
  width: 100%;
}

header .container nav li:hover,
header .container nav .active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  transition-duration: 0.3s;
}

header .container nav .toggle-menu {
  color: white;
  padding: 40px 10px;
  display: none;
}

header .container nav .toggle-menu:hover {
  color: var(--main-color);
}

@media (max-width:768px) {
  header .container nav .toggle-menu {
    display: flex;
  }

  header .container nav ul {
    display: none;
  }

  header .container nav .toggle-menu:hover+ul {
    display: flex;
    position: absolute;
    top: 100%;
    right: 15px;
    width: calc(100% - 30px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.886);
  }

  header .container nav ul a {
    padding: 20px 10px;
  }
}

header .container nav .search {
  margin-left: 20px;
  border-left: 1px solid white;
  padding-left: 20px;
  font-size: 20px;
}

header .container nav .search:hover {
  color: var(--main-color);
}


/*------------------------------------------ Landing Styling ------------------------------------------*/

.landing {
  background-image: url(../assets/landing.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.landing::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.533);
  position: absolute;
  z-index: 0;
}

.landing .welcome {
  color: white;
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 50%;
  background-color: var(--transparent-color);
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.landing .welcome .weclome-text {
  max-width: 500px;
}

.landing .welcome .weclome-text h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.landing .welcome .weclome-text p {
  line-height: 1.3;
}

@media (max-width:768px) {

  .landing .welcome {
    width: 100%;
    justify-content: center;
  }

  .landing .welcome .weclome-text h2 {
    text-align: center;
  }

  .landing .welcome .weclome-text p {
    text-align: center;
  }
}

.landing .change-background {
  color: white;
  position: absolute;
}

.landing .change-background:hover {
  color: var(--main-color);
  cursor: pointer;
}

.landing .to-left {
  top: 50%;
  right: 30px;
  z-index: 10;
}

.landing .to-right {
  top: 50%;
  left: 30px;
  z-index: 10;
}

.landing .locator {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.landing .locator .circle {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 4px;
}

.landing .locator .circle:nth-child(2) {
  background-color: var(--transparent-color);
}

@media (max-width:768px) {

  .landing .change-background {
    display: none;
  }

}


/*------------------------------------------ Service Styling ------------------------------------------*/


.service {
  padding: var(--section-padding) 0px;

}

.service .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 100px;
}

.service .srv-box {
  display: flex;
}

.service .srv-box i {
  font-size: 50px;
  min-width: fit-content;
  padding-right: 30px;
}

.service .srv-box div:only-of-type h2 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.service .srv-box div:only-of-type p {
  line-height: 2;
  color: #777;
}

@media (max-width :768px) {

  .service .srv-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service .srv-box div:only-of-type h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .service .srv-box div:only-of-type p {
    text-align: center;
  }

  .service .srv-box i {
    padding-right: 0px;
    padding-bottom: 20px;
  }
}


/*------------------------------------------ Design Styling ------------------------------------------*/


.design {
  background-image: url(../assets/design-features.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  overflow: hidden;
}

.design::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.673);
  z-index: 2;
}

.design .design-image {
  position: relative;
  min-width: 50%;
  z-index: 3;
}

.design .design-image img {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translate(-50%);
}

.design .design-features {
  position: relative;
  flex: 1;
  background-color: var(--transparent-color);
  padding: 50px;
  margin: 80px 0px;
  color: white;
  width: 50%;
  z-index: 3;
}

.design .design-features h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .design-features ul li {
  padding: 15px;
}

.design .design-features ul li i {
  padding-right: 10px;
}

@media (max-width :768px) {
  .design .design-image {
    display: none;
  }

  .design .design-features ul,
  .design .design-features h2 {
    text-align: center;
  }

  .design .design-features h2 {
    font-size: 17px;
    font-weight: 500;
  }

  .design .design-features ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .design .design-features ul li i {
    padding-bottom: 10px;
  }
}


/*------------------------------------------ Portfolio Styling ------------------------------------------*/


.portfolio {
  padding: var(--section-padding) 0px;
}

.portfolio .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .container ul li {
  padding: 10px;
}

.portfolio .container ul .active {
  padding: 10px;
  color: white;
  background-color: var(--main-color);
}

.portfolio .gallary {
  padding: 50px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.portfolio .gallary .box {
  flex-basis: calc(25% - 5px);
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.portfolio .gallary .box img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s;
}

.portfolio .gallary .box .info {
  position: absolute;
  bottom: -100%;
  transition: 0.3s;
}

.portfolio .gallary .box .info h3 {
  font-weight: normal;
  margin-bottom: 15px;
}

.portfolio .gallary .box .info p {
  color: var(--main-color);
}

.portfolio .gallary .box:hover img {
  transform: rotate(3deg) scale(110%);
}

.portfolio .gallary .box:hover .info {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 15px;
  transition: 0.3s;
}

.portfolio .gallary button {
  padding: 10px;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

@media (max-width:991.98px) {
  .portfolio .gallary .box {
    flex-basis: calc(50% - 5px);
    position: relative;
    overflow: hidden;
  }
}

@media (max-width:768px) {
  .portfolio .gallary .box {
    flex-basis: calc(100%);
    position: relative;
    overflow: hidden;
  }
}


/*------------------------------------------ Video Styling ------------------------------------------*/


.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(100%);
  background-color: rgba(0, 0, 0, 0.696);
}

.video video {
  width: 100%;
}

.video .title {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  background-color: var(--transparent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: white
}

.video .title h3 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.video .title p {
  margin-bottom: 30px;
}

.video .title button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}


/*------------------------------------------ About Styling ------------------------------------------*/

.about {
  padding: var(--section-padding) 0px;
}
